/* Estilos generales */
.App {
  min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la ventana del navegador */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el contenido verticalmente */
  position: relative; /* Asegura que el contenido no se superponga con el footer absoluto */
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Fondo uniforme */
  color: #e0e0e0; /* Texto claro para mejor contraste */
  margin: 0;
  padding: 0;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el encabezado */
}

header h1 {
  margin: 0;
}

header .header-buttons {
  display: flex;
  gap: 10px;
}

header button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header button:hover {
  background-color: #21a1f1;
}

.banner img {
  width: 100%;
  height: auto;
  max-height: 300px; /* Ajuste de altura */
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

section {
  margin: 20px;
}

h2 {
  color: #61dafb; /* Título con color acorde al tema */
  border-bottom: 2px solid #61dafb;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-card {
  background-color: #1e1e1e; /* Fondo oscuro para la tarjeta */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: calc(33.33% - 40px);
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #ff6347; /* Borde de color */
}

.video-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-thumbnail {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.video-thumbnail img,
.video-thumbnail iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
}

.video-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #e0e0e0; /* Texto claro para mejor contraste */
}

.video-card p {
  font-size: 14px;
  color: #b0b0b0;
  border-bottom: 1px solid #61dafb; /* Línea debajo de la descripción */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.video-card .buttons {
  display: flex;
  justify-content: space-around;
}

.video-card button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.video-card button:hover {
  background-color: #21a1f1;
}

.video-card button i {
  margin-right: 5px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgb(24, 26, 27);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid rgb(82, 88, 92);
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.video-modal-content {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
}

form input, form select {
  background-color: #000;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}

form button {
  width: 48%; /* Ajuste de ancho para los botones */
  padding: 10px;
  margin: 10px 1%; /* Margen horizontal entre los botones */
  box-sizing: border-box;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #21a1f1;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Estilos del Footer */

/* Asegurarse de que el footer esté al final de la página */
.footer-container{
  background-color: red;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

footer {
  margin-top: auto;
}


.footer {
  width: 100%;
  height: 70px;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el footer */
}

.footer a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #21a1f1;
}